.register-box {
    max-width: 450px;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
}

.search {
    color: #9badbb;
    border: 0;
    border-radius: 1rem;
    background-color: #2a3640;
}

.pagination-nav-button {
    margin-left: 10px;
    margin-right: 10px;
}

.movie-results {
    color: #9badbb;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
}

.pagination {
    color: white;
    min-width: 400px;
    padding-bottom: 20px;
    /*width: 400px;*/
}

.seperator-pagination {
    padding: 0 5px 0 5px;
}

.pagination-page {
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
}

.pagination-page.selected {
    color: #9badbb;
}

.pagination-page.selected:hover {
    background-color: transparent;
}

.pagination-page:hover {
    background-color: #42484e;
}

.dark-button:hover {
    background-color: #42484e;
}

.nav-item {
    z-index: 500;
}

.nav-bar-right {

}

.white {
    z-index: 500;
    color: rgba(255, 255, 255, 1) !important;
}

.nav-bar-content {
    z-index: 500;
    width: 100%;
    max-width: 800px;
}

.username {
    margin-right: 10px;
}

.trans-nav {
    font-weight: bold;
    font-size: 25px;
    padding: 15px;
    color: whitesmoke;
    z-index: 500;
    background: #121619;
}

.trans {
    background: rgba(0, 0, 0, 0.0);
}

.nav-bar-form {
    position: relative;
    z-index: 500;
}

.search-results {
    position: absolute;
    left: 8px;
    width: inherit;
    height: 200px;
    overflow-y: scroll;
}

.movie-backdrop {
    overflow: hidden;
    opacity: 0.9;
    max-width: 1200px;
    height: 675px;
    background-position: 50% 50%;
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;
    /*left: 50%;*/
    /*object-fit: scale-down;*/
}

.movie-backdrop::before {
    overflow-x: hidden;
    content: "";
    display: block;
    position: absolute;
    z-index: -9999;
    pointer-events: none;
    width: 1200px;
    /*width: 100%;*/
    top: 0px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 675px;
    background-repeat: no-repeat;
    background-image: linear-gradient(90deg, #14181d 0, rgba(20, 24, 29, .98556487) .97%, rgba(20, 24, 29, .9451312) 2.07833333%, rgba(20, 24, 29, .88300656) 3.29666667%, rgba(20, 24, 29, .80349854) 4.60166667%, rgba(20, 24, 29, .71091472) 5.96666667%, rgba(20, 24, 29, .60956268) 7.365%, rgba(20, 24, 29, .50375) 8.77166667%, rgba(20, 24, 29, .39778426) 10.16%, rgba(20, 24, 29, .29597303) 11.505%, rgba(20, 24, 29, .20262391) 12.78%, rgba(20, 24, 29, .12204446) 13.95833333%, rgba(20, 24, 29, .05854227) 15.01666667%, rgba(20, 24, 29, .01642493) 15.92833333%, rgba(20, 24, 29, 0) 16.66666667%, rgba(20, 24, 29, 0) 83.33333333%, rgba(20, 24, 29, .01642493) 84.07166667%, rgba(20, 24, 29, .05854227) 84.98333333%, rgba(20, 24, 29, .12204446) 86.04166667%, rgba(20, 24, 29, .20262391) 87.22%, rgba(20, 24, 29, .29597303) 88.495%, rgba(20, 24, 29, .39778426) 89.84%, rgba(20, 24, 29, .50375) 91.22833333%, rgba(20, 24, 29, .60956268) 92.635%, rgba(20, 24, 29, .71091472) 94.03333333%, rgba(20, 24, 29, .80349854) 95.39833333%, rgba(20, 24, 29, .88300656) 96.70333333%, rgba(20, 24, 29, .9451312) 97.92166667%, rgba(20, 24, 29, .98556487) 99.03%, #14181d), linear-gradient(0deg, #14181d 0, #14181d 21.48148148%, rgba(20, 24, 29, .98556487) 23.63703704%, rgba(20, 24, 29, .9451312) 26.1%, rgba(20, 24, 29, .88300656) 28.80740741%, rgba(20, 24, 29, .80349854) 31.70740741%, rgba(20, 24, 29, .71091472) 34.74074074%, rgba(20, 24, 29, .60956268) 37.84814815%, rgba(20, 24, 29, .50375) 40.97407407%, rgba(20, 24, 29, .39778426) 44.05925926%, rgba(20, 24, 29, .29597303) 47.04814815%, rgba(20, 24, 29, .20262391) 49.88148148%, rgba(20, 24, 29, .12204446) 52.5%, rgba(20, 24, 29, .05854227) 54.85185185%, rgba(20, 24, 29, .01642493) 56.87777778%, rgba(20, 24, 29, 0) 58.51851852%);
}

.movie-content {
    z-index: 20;
    padding-top: 400px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.movie-results-list-item {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #2c3440;
    width: 100%;
    max-width: 800px;
}

.movie-poster-image-list {
    border: 1px solid #aaaaaa;
    border-radius: 5px;
}

.movie-list-content {
    margin-left: 20px;
}

.movie-list-description {
    color: #9badbb;
}

.movie-title-list {
    font-family: 'Bree Serif', serif;
    font-size: 25px;
    color: #ebedfa;
    margin-right: 20px;
}

.movie-list-title-link:hover {
    color: #3b99cf;
}

.movie-release-year-list {
    font-family: 'Bree Serif', serif;
    font-size: 25px;
    color: #8495a6;
}

.movie-poster {
    z-index: inherit;
    color: darkgrey;
    /*width: 100%;*/
    /*width: 200px;*/
    /*width: 200px;*/
    /*height: 300px;*/
    /*!*background-position: 50% 50%;*!*/
    /*background-size: contain;*/
    /*background-repeat: no-repeat;*/
    /*border-radius: 5px;*/
    /*border: 1px solid whitesmoke;*/
}

.loading-spinner {
    font-size: 100px;
    color: whitesmoke;
    margin-top: 40%;
}

.movie-actions-icon {
    width: 100%;
}

.movie-actions-icon:hover {
    color: #bfd2e2;
    cursor: pointer;
}

.icon-blue {
    color: #3b99cf;
}

.icon-yellow {
    color: #dfd666;
}

.icon-green {
    color: #5eb354;
}

.movie-actions-icons {
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    font-size: 40px;
    color: #9badbb;
}

.empty-star {
    color: #9badbb;
    /*font-weight: lighter;*/
}

.ratings {
    font-size: 18px;
    color: #9badbb;
}

.action-icon-text {
    padding-top: 5px;
    font-size: 15px;
}

.action-rating {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 35px;
    color: #b8f5b5;

    border-bottom: 1px solid black;
    /*width: available;*/
}

.rating-text {
    font-size: 14px;
    color: #9badbb;
}

.movie-page-full {
    min-width: 700px;
}

/*.fa-star {*/
/*padding-left: 5px;*/
/*padding-right: 5px;*/
/*}*/

.movie-actions {
    border-radius: 10px;
    background-color: #425467;
    min-width: 250px;
    max-width: 250px;
    max-height: 300px;
    min-height: 300px;
    /*padding-left: 5px;*/
    margin-left: 5px;
    /*margin-right: 5px;*/
    /*padding: 10px;*/
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
    padding-top: 5px;
}

.movie-info {
    /*min-width: max-content;*/
    margin-left: 20px;
    z-index: inherit;
}

.movie-director-year {
    color: #9badbb;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 10px;
}

.movie-title {
    font-weight: bold;
    font-family: 'Rubik', sans-serif;

    font-size: 40px;
    color: white;
}

.tag-line {
    font-weight: bold;
    font-family: 'Rubik', sans-serif;

    font-size: 20px;
    color: #9badbb;
}

.move-description-detail {
    font-family: 'Rubik', sans-serif;

    font-size: 16px;
    color: #9badbb;
}

.color-secondary {
    background-color: #2C3441;
}

.color-primary {
    background-color: #14181d;
}

.movie-page {
    background-image: linear-gradient(#2a3640, #13181c 15%);
}

body {
    min-width: 450px;
    background-color: #14181d;
    /*background-image: linear-gradient(#2a3640, #13181c 15%);*/
}