.review-by-text-page {
    font-size: 20px;
    color: #9badbb;
}

.user-page {
    background-image: linear-gradient(#2a3640, #13181c 80%);
    min-height: calc(100vh - 100px);
    padding: 20px;
}

.user-page-content {
    min-width: 670px;
    max-width: 1050px;
    margin: auto;
}

.movie-title.smaller {
    margin-right: auto;
    font-size: 25px;
}

.movie-reviews-all-year {
    padding-left: 10px;
    color: #9badbb;
    font-size: 18px;
}

.movie-history-year {
    padding-right: 20px;
    color: #9badbb;
    font-size: 18px;
}

.watched-movie {
    position: relative;
    padding-right: 20px;
}

.user-page-nav-username {
    padding: 8px 30px 8px 10px;
}

.user-page-nav-nib {
    cursor: pointer;
    padding: 8px 10px 8px 10px;
}

.user-page-nav-nib:hover {
    color: #d4edff !important;
}

.sorting-selection {
    background-color: red;
    position: absolute;
    right: 0;
    width: 200px;
    top: 43px;
    z-index: 9000;
}

.user-page-nav-nib.border-right {
    border-color: black !important;
}

.user-page-nav-nib.active {
    background: #6e8bab;
    color: #d4edff !important;
}

.user-page-nav {
    position: relative;
    user-select: none;
    margin-left: 5px;
    margin-right: 5px;
    background: #425467;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #9badbb;
}
.no-content{
    padding-top: 20px;
    color: #9badbb;
}
.movie-ratings-history {
    white-space: nowrap;
    color: #b8f5b5;
}

.movie-ratings-review-all {
    white-space: nowrap;
    color: #b8f5b5;
}

.movie-ratings-watched {
    padding-bottom: 5px;
    color: #b8f5b5;
}

.user-review-ratings {
    /*padding-bottom: 5px;*/
    padding-left: 10px;
    padding-top: 7px;
    color: #b8f5b5;
}

.register-box {
    max-width: 450px;
    margin: 50px auto auto;
    border-radius: 10px;
}

.watched-movies-page {
    padding-bottom: 20px;
    margin: auto;

}

.movie-img-review-page-div {
    padding-right: 30px;
}

.img-review-page {
    margin: 5px;
    border: 2px solid #bdbdbd;
    border-radius: 5px;
}

.img-history {
    margin: 5px;
    border: 2px solid #bdbdbd;
    border-radius: 5px;
}

.cal-month {
    font-size: 26px;
}

.cal-day {
    margin-left: auto;
    font-size: 26px;
}

.cal-month-day {
    font-weight: bold;
    color: #24313d;
    top: 60px;
    padding-right: 10px;
    left: 5px;
    width: 100px;
    position: absolute;
}

.history-col {
    /*min-width: 670px;*/
    /*max-width: 1050px;*/
    padding-bottom: 20px;
    font-family: 'Rubik', sans-serif;
    width: 100%;
}

.history-row {
    padding-bottom: 15px;
    padding-top: 15px;
    width: 100%;
}

.cal-year {
    top: 100px;
    left: 25px;
    position: absolute;
    color: #2d3a47;
    font-size: 26px;
}

.calendar {
    line-height: 0;
    position: relative;
    font-size: 120px;
    color: #778898;
    margin-left: 20px;
    padding-right: 20px;
}

.sorting-nib-icon.desc {
    transform: rotate(180deg);
}

.sorting-nib-icon.asc {
    transform: rotate(0deg);
}

.people-div {
    cursor: pointer;
    margin-right: 20px
}

.people-div-options {
    margin-bottom: 10px;
    color: #9badbb;
    font-size: 25px;
}

.people-div-selected {
    cursor: pointer;
    margin-right: 20px;
    color: #d4edff;
}

.people-div:hover {
    color: #aec2d2 !important;
}

.movie-people {
    width: 95%;
    margin-top: 20px;

    /*margin: -5px;*/
}

.person-cast-pill-character {
    min-width: max-content;
    color: #d4edff;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    z-index: 9000;
    bottom: 30px;
    background: #425467;
    position: absolute;
}

.person-cast-pill-div {
    position: relative;
    margin-right: 5px;
    margin-bottom: 8px;
}

.person-cast-pill {
    background: #2a3642;
    padding: 3px 5px 3px 5px;
    border-radius: 5px;
    color: #9badbb;
    cursor: pointer;
}

.person-cast-pill:hover {
    color: #d4edff;
}

.sorting-div-nib {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    vertical-align: center;
    cursor: pointer;
    /*height: 100%;*/
}

.sorting-div-nib-active {
    color: #d4edff;
}

.sorting-nib {
    text-align: center;
    font-size: 25px;
    line-height: 0;
    padding-top: 12px;
    padding-left: 5px;
    /*font-size: 30px;*/
}

.sorting-nib-icon {
    line-height: 0;
    transition: transform 0.3s;
    /*transform: rotate(180deg);*/
    transform-origin: 50% -5px;
}

.box {
    height: 40px;
    transition: height 0.2s, opacity 0.2s, z-index 0.3s;
}

.hidden {
    height: 0;
    opacity: 0;
    z-index: -9000;
}

.sorting-div {
    user-select: none;
    /*margin-bottom: 20px;*/
    /*padding-right: 20px;*/
    border-radius: 5px;
    background-color: #6b89a8;
    color: #344352;
    width: 350px;
    /*width: 100%;*/
}

.test {
    /*color: inherit !important;*/
    color: #d4edff !important;
    background-color: #425467 !important;
    border: none !important;
    /*background-color: inherit;*/
    height: 43px;
}

.img-watched {
    margin: 5px;
    border: 2px solid #bdbdbd;
    border-radius: 5px;
}

.search {
    color: #9badbb;
    border: 0;
    border-radius: 1rem;
    background-color: #2a3640;
}

.pagination-nav-button {
    margin-left: 10px;
    margin-right: 10px;
}

.movie-results {
    color: #9badbb;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
}

.actor-bio {
    margin-top: 20px;
    min-width: 300px;
    max-width: 300px;
}

.scroll-arrow {
    top: 10%;
    right: 0;
    position: absolute;
    font-size: 70px;
    color: whitesmoke;
}

.seasons-slider-arrow {
    cursor: pointer;
    margin-top: 100px;
    font-size: 30px;
    color: #9badbb;
}

.seasons-slider-arrow.less {
    margin-top: 27px;
}

.seasons-slider-arrow:hover {
    color: whitesmoke;
}

.image-top {
    position: relative;
}

.seasons-slider-arrow-right {
    padding-left: 4px;
}

.seasons-slider-div {
    margin: auto;
}

.seasons-slider {
    overflow-x: hidden;
    max-width: 500px;
}
.slider-arrow {
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
    margin-top: 70px;
    font-size: 50px;
    color: #9badbb;
}
.slider {
    overflow-x: hidden;
}
@media (min-width: 1000px) {
    .slider {
        max-width: 900px;
    }
}
@media (max-width: 1000px) {
    .slider {
        max-width: 600px;
    }
}

.actor-movie-results {
    color: #9badbb;
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
    padding-bottom: 20px;
    margin-top: 20px;
}

.pagination {
    color: white;
    min-width: 400px;
    /*padding-bottom: 20px;*/
    /*width: 400px;*/
}

.seperator-pagination {
    padding: 0 5px 0 5px;
}

.pagination-page {
    cursor: pointer;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
}

.pagination-page.selected {
    color: #9badbb;
}

.pagination-page.selected:hover {
    background-color: transparent;
}

.pagination-page:hover {
    background-color: #42484e;
}

.dark-button:hover {
    background-color: #42484e;
}

.nav-item {
    z-index: 500;
}

.nav-bar-right {

}

.white {
    z-index: 500;
    color: rgba(255, 255, 255, 1) !important;
}

.nav-bar-content {
    width: 100%;
}

.username {
    cursor: pointer;
    margin-right: 10px;
}

.login-button {
    padding-right: 20px;
    color: #3c516f;
}
.over-nav{
    margin-right: 10px;
    margin-left: 10px;
}
.trans-nav-movie-view {
    background: rgba(190, 212, 229, 0.81);
    margin: auto;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: -10px;
    border-radius: 100px;
    z-index: 500;
    width: 100%;
    max-width: 1200px;
    font-weight: bold;
    font-size: 25px;
    color: #33404f;
}

.trans-nav {
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
    color: whitesmoke;
    max-width: 1200px;
    margin: auto;
    width: 100%;
}

.trans {
    background: #121619;
}

.nav-bar-form {
    position: relative;
    z-index: 500;
}

.search-results {
    position: absolute;
    left: 8px;
    width: inherit;
    height: 200px;
    overflow-y: scroll;
}

.movie-backdrop-home-page {
    overflow: hidden;
    opacity: 0.9;
    max-width: 1500px;
    height: 875px;
    margin-top: -20px;
    width: 100%;
    background-size: cover;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
}

.movie-backdrop-home-page::before {
    overflow-x: hidden;
    content: "";
    display: block;
    position: absolute;
    z-index: -9999;
    pointer-events: none;
    width: 1500px;
    /*width: 100%;*/
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 875px;
    background: linear-gradient(90deg, #14181d 0, rgba(20, 24, 29, .98556487) .97%, rgba(20, 24, 29, .9451312) 2.07833333%, rgba(20, 24, 29, .88300656) 3.29666667%, rgba(20, 24, 29, .80349854) 4.60166667%, rgba(20, 24, 29, .71091472) 5.96666667%, rgba(20, 24, 29, .60956268) 7.365%, rgba(20, 24, 29, .50375) 8.77166667%, rgba(20, 24, 29, .39778426) 10.16%, rgba(20, 24, 29, .29597303) 11.505%, rgba(20, 24, 29, .20262391) 12.78%, rgba(20, 24, 29, .12204446) 13.95833333%, rgba(20, 24, 29, .05854227) 15.01666667%, rgba(20, 24, 29, .01642493) 15.92833333%, rgba(20, 24, 29, 0) 16.66666667%, rgba(20, 24, 29, 0) 83.33333333%, rgba(20, 24, 29, .01642493) 84.07166667%, rgba(20, 24, 29, .05854227) 84.98333333%, rgba(20, 24, 29, .12204446) 86.04166667%, rgba(20, 24, 29, .20262391) 87.22%, rgba(20, 24, 29, .29597303) 88.495%, rgba(20, 24, 29, .39778426) 89.84%, rgba(20, 24, 29, .50375) 91.22833333%, rgba(20, 24, 29, .60956268) 92.635%, rgba(20, 24, 29, .71091472) 94.03333333%, rgba(20, 24, 29, .80349854) 95.39833333%, rgba(20, 24, 29, .88300656) 96.70333333%, rgba(20, 24, 29, .9451312) 97.92166667%, rgba(20, 24, 29, .98556487) 99.03%, #14181d), linear-gradient(0deg, #14181d 0, #14181d 21.48148148%, rgba(20, 24, 29, .98556487) 23.63703704%, rgba(20, 24, 29, .9451312) 26.1%, rgba(20, 24, 29, .88300656) 28.80740741%, rgba(20, 24, 29, .80349854) 31.70740741%, rgba(20, 24, 29, .71091472) 34.74074074%, rgba(20, 24, 29, .60956268) 37.84814815%, rgba(20, 24, 29, .50375) 40.97407407%, rgba(20, 24, 29, .39778426) 44.05925926%, rgba(20, 24, 29, .29597303) 47.04814815%, rgba(20, 24, 29, .20262391) 49.88148148%, rgba(20, 24, 29, .12204446) 52.5%, rgba(20, 24, 29, .05854227) 54.85185185%, rgba(20, 24, 29, .01642493) 56.87777778%, rgba(20, 24, 29, 0) 58.51851852%) no-repeat;
}

.movie-backdrop {
    overflow: hidden;
    opacity: 0.9;
    max-width: 1200px;
    height: 675px;
    margin-top: -20px;
    width: 100%;
    background-size: cover;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
}

.movie-backdrop::before {
    overflow-x: hidden;
    content: "";
    display: block;
    position: absolute;
    z-index: -9999;
    pointer-events: none;
    width: 1200px;
    /*width: 100%;*/
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 675px;
    background: linear-gradient(90deg, #14181d 0, rgba(20, 24, 29, .98556487) .97%, rgba(20, 24, 29, .9451312) 2.07833333%, rgba(20, 24, 29, .88300656) 3.29666667%, rgba(20, 24, 29, .80349854) 4.60166667%, rgba(20, 24, 29, .71091472) 5.96666667%, rgba(20, 24, 29, .60956268) 7.365%, rgba(20, 24, 29, .50375) 8.77166667%, rgba(20, 24, 29, .39778426) 10.16%, rgba(20, 24, 29, .29597303) 11.505%, rgba(20, 24, 29, .20262391) 12.78%, rgba(20, 24, 29, .12204446) 13.95833333%, rgba(20, 24, 29, .05854227) 15.01666667%, rgba(20, 24, 29, .01642493) 15.92833333%, rgba(20, 24, 29, 0) 16.66666667%, rgba(20, 24, 29, 0) 83.33333333%, rgba(20, 24, 29, .01642493) 84.07166667%, rgba(20, 24, 29, .05854227) 84.98333333%, rgba(20, 24, 29, .12204446) 86.04166667%, rgba(20, 24, 29, .20262391) 87.22%, rgba(20, 24, 29, .29597303) 88.495%, rgba(20, 24, 29, .39778426) 89.84%, rgba(20, 24, 29, .50375) 91.22833333%, rgba(20, 24, 29, .60956268) 92.635%, rgba(20, 24, 29, .71091472) 94.03333333%, rgba(20, 24, 29, .80349854) 95.39833333%, rgba(20, 24, 29, .88300656) 96.70333333%, rgba(20, 24, 29, .9451312) 97.92166667%, rgba(20, 24, 29, .98556487) 99.03%, #14181d), linear-gradient(0deg, #14181d 0, #14181d 21.48148148%, rgba(20, 24, 29, .98556487) 23.63703704%, rgba(20, 24, 29, .9451312) 26.1%, rgba(20, 24, 29, .88300656) 28.80740741%, rgba(20, 24, 29, .80349854) 31.70740741%, rgba(20, 24, 29, .71091472) 34.74074074%, rgba(20, 24, 29, .60956268) 37.84814815%, rgba(20, 24, 29, .50375) 40.97407407%, rgba(20, 24, 29, .39778426) 44.05925926%, rgba(20, 24, 29, .29597303) 47.04814815%, rgba(20, 24, 29, .20262391) 49.88148148%, rgba(20, 24, 29, .12204446) 52.5%, rgba(20, 24, 29, .05854227) 54.85185185%, rgba(20, 24, 29, .01642493) 56.87777778%, rgba(20, 24, 29, 0) 58.51851852%) no-repeat;
}

.slider-header {
    color: white;
    font-family: 'Rubik', sans-serif;
    width: 100%;
    font-size: 25px;
}
.recent-reviews {
    color: white;
    font-family: 'Rubik', sans-serif;
    /*width: 100%;*/
    font-size: 25px;
}

.movie-content-home {
    max-width: max-content;
    margin: auto;
    z-index: 20;
    padding: 400px 5px 5px;
}

.track-signup {
    margin-bottom: 20px;
    max-width: 400px;
}

.poster-home-page {
    box-sizing: border-box;
    border-radius: 5px;
    /*border: 1px solid rgb(0, 166, 0);*/
    margin: 5px;
}

.poster-home-page:hover {
    box-shadow: 0 0 5px 3px rgb(56, 166, 82);
}

.btn-signup-large {
    font-size: 30px;
    margin-top: 20px;
}

.track-your {
    font-size: 35px;
    color: white;
    font-family: 'Rubik', sans-serif;
    max-width: 400px;
    text-align: center;
}

.movie-content {
    z-index: 20;
    padding: 380px 20px 20px;
}

.movie-results-list-item {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #2c3440;
    width: 100%;
    max-width: 800px;
}

.actor-bio-poster {
    border: 1px solid #aaaaaa;
    border-radius: 5px;
}

.movie-poster-actor-list-movies {
    border: 2px solid #aaaaaa;
    border-radius: 5px;
}

.movie-poster-image-list {
    border: 1px solid #aaaaaa;
    border-radius: 5px;
}

.seasons-slider-movie {
    border-radius: 5px;
    margin: 5px;
}

.related-movie {
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.movie-cast-pic {
    /*border: 1px solid #b2c7d7;*/
    border-radius: 5px;
}

.related-movie-text {
    color: #9badbb;
    font-size: 25px;
    width: 95%;
    padding-top: 10px;
    margin-bottom: 10px;
}

.movie-page-poster {
    border: 3px solid #b2c7d7;
    border-radius: 5px;
}

.movie-list-content {
    margin-left: 20px;
}

.movie-list-description {
    color: #9badbb;
}

.movie-title-list {
    font-family: 'Bree Serif', serif;
    font-size: 25px;
    color: #ebedfa;
    margin-right: 20px;
}

.movie-list-title-link:hover {
    color: #3b99cf;
}

.movie-release-year-list {
    font-family: 'Bree Serif', serif;
    font-size: 25px;
    color: #8495a6;
}

.movie-poster {
    z-index: inherit;
    color: darkgrey;
    /*width: 100%;*/
    /*width: 200px;*/
    /*width: 200px;*/
    /*height: 300px;*/
    /*!*background-position: 50% 50%;*!*/
    /*background-size: contain;*/
    /*background-repeat: no-repeat;*/
    /*border-radius: 5px;*/
    /*border: 1px solid whitesmoke;*/
}

.loading-spinner {
    font-size: 100px;
    color: whitesmoke;
    margin-top: 10%;
}

.movie-actions-icon {
    width: 100%;
}

.movie-actions-icon:hover {
    color: #bfd2e2;
    cursor: pointer;
}

.icon-blue {
    color: #3b99cf;
}

.icon-yellow {
    color: #dfd666;
}

.icon-green {
    color: #5eb354;
}

.movie-actions-icons {
    padding-bottom: 20px;
    border-bottom: 1px solid #1a1a1c;
    font-size: 40px;
    color: #9badbb;
}

.empty-star {
    color: #9badbb;
    /*font-weight: lighter;*/
}

.ratings {
    font-size: 18px;
    color: #9badbb;
}

.action-icon-text {
    padding-top: 5px;
    font-size: 15px;
}

.action-rating {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 35px;
    color: #b8f5b5;

    border-bottom: 1px solid #1a1a1c;
    /*width: available;*/
}

.v-rating {
    text-align: center;
    font-size: 25px;
    padding: 15px 10px;
    /*color: #b8f5b5;*/

    border-bottom: 1px solid #1a1a1c;
}

.review:hover {
    color: #bfd2e2;
    cursor: pointer;
}

.review {
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    color: #9badbb;
    margin: auto;
    /*line-height: 0px;*/
    /*padding-top: 5px;*/
    /*padding-bottom: 5px;*/
    /*border-bottom: 1px solid #1a1a1c;*/
}

.rating-text {
    font-size: 14px;
    color: #9badbb;
}

.movie-page-full {
    min-width: 700px;
}

/*.fa-star {*/
/*padding-left: 5px;*/
/*padding-right: 5px;*/
/*}*/
.ratings-chart {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
}

.average-rating {
    margin-right: 5px;
    padding-top: 10px;
    margin-bottom: -5px;
    float: right;
    color: #9ab;
    font-size: 18px;
}

.actor-page-bio-bio {
    font-size: 16px;
    /*padding-top: 10px;*/
    margin-bottom: -10px;
    /*font-family: 'Rubik', sans-serif;*/
    color: #93aabc;
}

.actor-page-name {
    font-size: 30px;
    /*padding-top: 10px;*/
    margin-bottom: -10px;
    font-family: 'Rubik', sans-serif;
    color: #ebedf6;
}

.no-ratings-yet {
    margin: 0 auto 0 auto;
    padding-top: 20px;
    color: #9ab;
    font-size: 25px;
}

.ratings-rating-text {
    font-size: 25px;
    color: #9ab;
}

.ratings-rating-total {
    color: #678;
}

.ratings-label {
    border-bottom: 1px solid #678;
    margin-left: 5px;
    margin-right: 5px;
}

.v-rating-text {
    font-family: 'Rubik', sans-serif;
    color: #bed4e5;
}

.movie-actions-not-logged-in {
    border-radius: 5px;
    background-color: #425467;
    min-width: 250px;
    max-width: 250px;
    font-size: 20px;
    color: #9badbb;
    /*max-height: 300px;*/
    /*min-height: 300px;*/
    /*padding-left: 5px;*/
    margin-left: 5px;
    /*margin-right: 5px;*/
    /*padding: 10px;*/
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
    padding: 15px;
}

.movie-actions {
    border-radius: 5px;
    background-color: #425467;
    min-width: 250px;
    max-width: 250px;
    /*max-height: 400px;*/
    /*min-height: 400px;*/
    /*padding-left: 5px;*/
    margin-left: 5px;
    /*margin-right: 5px;*/
    /*padding: 10px;*/
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
    padding-top: 20px;
}

.movie-info {
    /*min-width: max-content;*/
    max-width: 800px;
    margin-left: 20px;
    z-index: inherit;
}

.movie-director-year {
    /*margin-top: -10px;*/
    color: #9badbb;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 10px;
}

.movie-review-user-title-year {
    padding-top: 20px;
    padding-bottom: 20px;
}

.movie-review-actual-review {
    color: #bfc9d6;
    font-size: 18px;
}

.movie-review-preview-review {
    padding-top: 10px;
    color: #bfc9d6;
    font-size: 16px;
}

.movie-review-wo-date {
    color: #6e7a84;
    font-size: 17px;
    padding-bottom: 10px;
}

.movie-review-user-title {
    font-weight: bold;
    font-family: 'Rubik', sans-serif;

    font-size: 25px;
    color: #e3efff;
}

.movie-review-user-year {
    color: #9badbb;
    font-size: 18px;
    padding-left: 10px;
    padding-top: 7px;
}

.movie-title {
    font-weight: bold;
    font-family: 'Rubik', sans-serif;

    font-size: 40px;
    color: white;
}

.tag-line {
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    padding-bottom: 10px;
    font-size: 20px;
    color: #9badbb;
}

.move-description-detail {
    font-family: 'Rubik', sans-serif;
    /*min-width: 500px;*/
    font-size: 16px;
    color: #9badbb;
}

.color-secondary {
    background-color: #2C3441;
}

.color-primary {
    background-color: #14181d;
}

.movie-page {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    background-image: linear-gradient(#2a3640, #13181c 15%);
}

body {
    min-width: 450px;
    background-color: #14181d;
    /*background-image: linear-gradient(#2a3640, #13181c 15%);*/
}

.submit-review {
    margin-top: 20px;
}

/*.movie-title-d-y{*/
/*min-width: 500px;*/
/*max-width: 300px;*/
/*}*/
.modal-made-trans {
    position: absolute;
    left: 0;
    right: 0;
    top: 25%;
    margin: auto;
    width: 700px;
    /*background: linear-gradient(90deg, red, blue);*/
    background: linear-gradient(180deg, #7c8d9e, #3b4854);;
    /*background-color: #688396;*/
    border-radius: 5px;
    padding: 30px 30px 20px 30px;
    /*height: 400px;*/
    z-index: 700;
}

.modal-made-close {
    position: absolute;
    visibility: hidden;
}

.mm-ty {
    font-family: 'Rubik', sans-serif;
}

.movie-modal-title {
    font-size: 25px;
    font-weight: bold;
    color: whitesmoke;
}

.modal-date-on {
    font-size: 20px;
    margin-right: 10px;
    color: #2c3338;
    font-weight: bold;
}

.date-choosing {
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    width: 100%;
    border: none;
    font-size: 20px;
    border-radius: 5px;
}

.movie-modal-year {
    font-size: 20px;
    padding-top: 5px;
    padding-left: 10px;
    color: #2c3338;
    /*line-height: 30px;*/
}

.modal-you-watched {
    margin-top: -5px;
    font-size: 16px;
    color: #1c2229
}

.review-details {
    margin-left: 20px;
    width: 100%;
}

.review-text {
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 20px;
    resize: none;
    /*width: 100%;*/
    height: 100%;
    font-size: 17px;
}

.backdrop {
    position: fixed;
    top: 0;
    /*left: 0;*/
    bottom: 0;
    min-height: 100%;
    width: 100%;
    /*width: 100%;*/
    /*height: 100vh;*/
    background: #000;
    opacity: 0.8;
    z-index: 600;
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(.5);
        transform: scale(.5)
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(.5);
        transform: scale(.5)
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.scale-up-center {
    -webkit-animation: scale-up-center .4s cubic-bezier(.39, .575, .565, 1.000) both;
    animation: scale-up-center .4s cubic-bezier(.39, .575, .565, 1.000) both
}

@-webkit-keyframes slide-in-fwd-top {
    0% {
        -webkit-transform: translateZ(-1400px) translateY(-800px);
        transform: translateZ(-1400px) translateY(-800px);
        opacity: 0
    }
    100% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        opacity: 1
    }
}

@keyframes slide-in-fwd-top {
    0% {
        -webkit-transform: translateZ(-1400px) translateY(-800px);
        transform: translateZ(-1400px) translateY(-800px);
        opacity: 0
    }
    100% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        opacity: 1
    }
}

.slide-in-fwd-top {
    -webkit-animation: slide-in-fwd-top .4s cubic-bezier(.25, .46, .45, .94) both;
    animation: slide-in-fwd-top .4s cubic-bezier(.25, .46, .45, .94) both
}